.combo-box-base:disabled .list-cell:disabled {
    -fx-opacity: 1.0;
}
.date-picker-base:disabled .list-cell:disabled {
    -fx-opacity: 1.0;
}
.txtarea .scroll-pane:disabled{
  	-fx-opacity: 1.0;
}
.combo-box {
	-fx-opacity: 1.0;
}
.date-picker {
	-fx-opacity: 1.0;
}
.check-box {
	-fx-opacity: 1.0;
}
.stockDetails {
	-fx-background-color: white; 
	-fx-border-color: lightgray; 
	-fx-border: solid;
}
.text-field{
	-fx-opacity: 1.0;
}

.button {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
